{% extends "::base.html.twig" %}

{% block body %}
{% block menu %} {{ parent() }} {% endblock %}
<div class="container">
<div class="row">
     <div class="col-xs-12 col-md-12">
	{% include "BlogBundle:Public:article_layout.html.twig" with {'link' : false, 'contenu' : true, 'description' : false, 'tags' : true} %}
    </div>
</div>
</div>
{% endblock%}

{% block javascripts %}
{{ parent()}}
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES * * */
                var disqus_shortname = 'blogscience';
                
                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endblock %}
