{% extends "::admin_base.html.twig" %}

{% block body %}
{{ parent() }}
<div class="container">
	<h2> Editer  une categorie </h2>

	<form class="form-group"  action="{{ path("admin_editer_categorie" , {'id': id}) }}" method="post">
		{{ form_widget(form)}}

		<input class="btn btn-primary" type="submit">
	</form>
</div>
{% endblock%}